.panel{
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 10%;
	margin-left: 10%;
	padding: 3%;	
	border-style : solid;
	border-color : gray;
}

.panel-filtre{
	margin: 1%;
	padding: 1%;	
	background-color : #EEEEEE;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.alert-danger{
	padding: 1%;	
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}